/* BODY LAYOUT */

body {
  margin: 0;
  background-color: grey;
}

#container {
  max-width: 600px;
  height: 540px;
  margin: 0 auto;
  background-color: white; 
}

#scoreboard {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#gamebox {
  height: 420px;
  width: 420px;
  margin: 0 auto;
  padding: 0;
  border: 5px solid black;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#gameMessage {
  font-size: 1em;
}


/* Styles */


.cell {
  height: 14px;
  width: 14px;
  float: left;
  background-color: #ccc;
}

.snake {
  background-color: green;
}

.snake2 {
  background-color: black;
}

.food {
  background-color: red;
}




