/* BODY LAYOUT */

body {
  margin: 0;
  background-color: grey;
}

h1 {
  display: inline-block;
  float: left;
}

#container {
  max-width: 600px;
  height: 540px;
  margin: 40px auto;
  background-color: white; 
  border-radius: 20px;
  position: relative;
  left: 1000px;
}

#scoreboard {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#gamebox {
  height: 420px;
  width: 420px;
  margin: 0 auto;
  padding: 0;
  border: 5px solid black;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  position: relative;
}

#gameMessage {
  font-size: 0.7em;
  color: green;
  position: absolute;
  top: 150px;
  left: 80px;
}

#gameMessage2 {
  font-size: .7em;
  color: black;
  position: absolute;
  top: 210px;
  left: 80px;
}

#sidebar {
  position: absolute;
  top: 200px;
  left: 40px;
}

/* Styles */


.cell {
  height: 14px;
  width: 14px;
  float: left;
  background-color: #ccc;
}

.snake {
  background-color: green;
}

.snake2 {
  background-color: black;
}

.food {
  background-color: red;
}




